@import 'partials/_home.scss';
@import 'partials/_header.scss';
@import 'partials/_forecast.scss';
@import 'partials/_detail.scss';
@import 'partials/_transition.scss';

body {	
	font-family: 'Lato', sans-serif;
}