.location-header {		
	margin-top: 30px;
	font-size: 80px;
}

.i-detail {
	font-size: 205px;
	color: #333;
}

.date-text {
	position: relative;
	bottom: 20px;
	font-size: 30px;
}

.description-text {
	font-size: 35px;
}	