.error-message {
	font-size: 50px;
	margin-top: 40px;
}

.loading-message {
	text-align: center;
	font-size: 38px;
	margin-top: 150px;
}

.sub-loading {
	font-size: 28px;
}

.location-header {		
	margin-top: 30px;
	font-size: 80px;
}

.sub-header {
	margin-top: 15px;
	margin-bottom: 40px;
	font-size: 30px;
}

.col-style {
	margin-top: 30px;
}

.i-styling {
	font-size: 205px;
	cursor: pointer;
	color: #333;
}

.date-text {
	position: relative;
	bottom: 20px;
	font-size: 30px;
}


// MEDIA QUERIES

// Extra Small Styles
@media (max-width: 767px) {
	.loading-message {
		margin-top: 30px;
	}

	.location-header {
		font-size: 40px;
	}

	.sub-header {
		font-size: 30px;
		margin-bottom: 0px;
	}

	.i-styling {
		font-size: 155px;
	}
}