#homeHeader {
	padding-top: 300px;
}

.input-container {
	background-image: url(images/wild_sea_edit_web.jpg);
	height: 92%;
	text-align: center;
}

.input-header {
	margin: 0 auto;				
	color: #fff;
	font-size: 55px;
	margin-bottom: 30px;		
}

.input-controls {
	width: 80%;
	max-width: 350px;
	margin: 0 auto;
}

.submit-button {
	margin-top: 20px;
	font-family: Helvetica;
	background-color: #079F75;
	color: #fff;
	padding: 10px;

	&:hover {
		color: #eee;
	}
}